* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

/* main container */
#mainContainer {
    display: grid;
    grid-template-columns: 5% 47.5% 47.5%;
    height: 100%;
}
.cols-3,
.cols-3 
.cols-3 {
    display: grid;

    grid-template-columns: 5% 47.5% 47.5%;
    height: 100%;
}
.col-4 {
    display: grid;
    height: 100%;

    grid-template-columns: 5% 47.5% 47.5%;
}

/* left container (chat icon) */
#leftContainer {
    align-items: center;
    background-color: #505055;
    display: flex;
    height: 80px;
    justify-content: center;
}
#leftContainer img {
    padding: 10px;
}

/* center container (emails list) */
#centerContainer,
#sentMsgTab {
    display: flex;
    background-color: #afb9c3;
    flex-direction: column;
    padding: 0;
}
.mailRead,
.mailUnread {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80px;
    padding: 15px 30px 0 30px;
    margin: 5px 10px;
}
.mailUnread {
    background-color: #9ba5b0;
    font-weight: bold;
}
.mailRead {
    background-color: #bac5d1;
    font-weight: normal;
}
.mailRead:hover,
.mailUnread:hover {
    background-color: #CBCBCC;
    cursor: pointer;
    transition: .5s;
}
.mailRead .div1,
.mailUnread .div1 {
    font-size: 18px;
    grid-area: 1 / 1 / 2 / 2;
}
.mailRead .div2,
.mailUnread .div2 {
    font-size: 16px;
    grid-area: 2 / 1 / 3 / 2;
}
.mailRead.div3,
.mailUnread .div3 {
    grid-area: 1 / 2 / 2 / 3;
}
.mailRead .div4,
.mailUnread .div4 {
    grid-area: 2 / 2 / 3 / 3;
}
.mailRead .div3, 
.mailRead .div4,
.mailUnread .div3,
.mailUnread .div4 {
    display: flex;
    justify-content: flex-end;
}
.iconsMail svg {
    border-radius: 5px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    transition: .5s;
}

/* menu top center container */
#menuGrid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 0;
    padding-top: 10px;
    width: 100%;
}
.menuLeft {
    display:flex;
    grid-area: 1 / 1 / 2 / 2;
    justify-content: flex-end;
    padding-left: 20px;
}
.refreshIcon {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: flex-end;
    padding-left: 10px;
}
.menuRight {
    display: flex;
    justify-content: flex-end;
    grid-area: 1 / 3 / 2 / 4;
    padding-right: 20px;
}
.btnMenu {
    align-items: center;
    background: none;
    border: none 0;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    margin: 0 5px 0 5px;
    padding: 10px;
    width: 100px;
}

/* right container (inbox) */
#rightContainer {
    align-items: center;
    display: flex;
    background-color: #CBCBCC;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#rightContainer h2 {
    font-size: 20px;
}
#rightContainer h3 {
    font-size: 16px;
    font-weight: normal;
}
/* buttons */
button:disabled {
    opacity: .5;
}
button:hover:disabled {
    cursor: not-allowed;
    opacity: .5;
}
.btnMenu:hover {
    background-color: #cbcbcc;
    cursor: pointer;
    transition: .5s;
}
.newMsg,
.sendBtn,
.replyBtn {
    align-items: center;
    background-color: #505055;
    border: none 0;
    border-radius: 5px;
    color: white;
    display: flex;
    height: 35px;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    width: 250px;
}
.newMsg:hover,
.sendBtn:hover,
.replyBtn:hover {
    cursor: pointer;
    transition: .5s;
    opacity: .8; 
}
.deleteIcon:hover,
.div2 svg:hover {
    color: #870700;
}
.archieveIcon:hover {
    color: #785518;
}
.replyIcon:hover {
    color: #162a8d;
}
.refreshIcon button {
    background: none;
    border: none 0;
}
.refreshIcon button:hover {
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}
.deleteIcon:hover,
.archieveIcon:hover,
.replyIcon:hover {
    cursor: pointer;
    transition: .5s;
}
textarea {
    background: none;
    outline: none;
}
fieldset {
    border: 0 none;
}

/* typo */
#menuGrid button {
    font-size: 18px;
}
a {
    color: black;
    text-decoration: none;
}


.disabled {
    pointer-events: none;
}
.disabled:hover {
    cursor: not-allowed;
}

/* js classlist */
.transition {
    transition: .5s;
}
.displayNone {
    display: none;
}
.displayFlex {
    display: flex;
}
.displayBlock {
    display: block;
}
.addPointerEvents {
    pointer-events: auto;
}
.removePointerEvents {
    pointer-events: none;
}
.newMsgStyle {
    font-size: 16px;
    opacity: .5;
    width: 200px;
}
.noBackgroundColor {
    background-color: none;
}
.mailStyle {
    background-color: #bac5d1;
    font-weight: normal;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mailNoStyle {
    background-color: #CBCBCC;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}