* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
textarea {
    background: none;
    border: 0 none;
    outline: none;
}
/* buttons */
.btnMenu {
    align-items: center;
    background: none;
    border: none 0;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    margin: 0 5px 0 5px;
    padding: 10px;
    width: 100px;
}
.btnMenu:hover {
    background-color: #cbcbcc;
    cursor: pointer;
    transition: .5s;
}
.nvMsg,
.sendBtn {
    align-items: center;
    background-color: #505055;
    border: none 0;
    border-radius: 5px;
    color: white;
    display: flex;
    height: 35px;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    width: 250px;
}
.nvMsg:hover,
.sendBtn:hover {
    cursor: pointer;
    transition: .5s;
    opacity: .8; 
}
.deleteIcon:hover {
    color: #870700;
}
.archieveIcon:hover {
    color: #785518;
}
.replyIcon:hover {
    color: #162a8d;
}
.refreshIcon {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.refreshIcon button {
    background: none;
    border: none 0;
}
.refreshIcon button:hover {
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}

/* typo */
#menuGrid button {
    font-size: 18px;
}
.mailContainer .div1 {
    font-size: 18px;
}
.mailContainer .div2 {
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}